#body-header {
	background-color: #a9dbac;
	border: 1px solid #000;
}

table, th, td {
	border: 1px solid black;
}

body {
	background-color: #f0f0f0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

.grid-item {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-item h2 {
  margin-top: 0;
}

.collapse {
  transition: height 0.3s ease-in-out;
}
