{% extends "base.html" %}

{% block content %}
   <div class="grid-container">
      <div class="grid-item">
         <button class="btn btn-info" data-toggle="collapse" data-target="#addForm">Añadir device</button>
            <div id="addForm" class="collapse">
               <form action = "http://localhost:8080/devices" method = "post">
                  <label for="device">New device:</label><br>
                  <input type = "text" name = "device" /><br>
                  <label for="description">Description:</label><br>
                  <input type = "text" name = "description" /><br>
                  <input type = "hidden" name = "method" value = "ADD"/>
                  <input type = "submit" /></td>
               </form>
            </div>
      </div>
      {% for key, value in devicesData.items() %}
      <div class="grid-item">
         <a href="/devices/{{ value.deviceIp }}">{{ value.deviceIp }}</a>
         <p>Description: {{ value.description }}</p>
         <form action = "http://localhost:8080/devices" method = "post">
            <input type = "hidden" name = "device" value = "{{ value.deviceIp }}" />
            <input type = "hidden" name = "method" value = "DELETE"/>
         <input type = "submit" value="Delete"/></td>
         </form>
         
      </div>
      {% endfor %}
   </div>
{% endblock %}
