<!DOCTYPE html>
<html>
   <head>
      <title>Pins</title>
      <link rel="stylesheet" href="../static/style.css">
   </head>
   
   <body>
   <h1>Pins</h1>
   <button onclick="window.location.href='/';">
      Home
   </button>
   <button onclick="window.location.href='/pins';">
      Pins
   </button>
   
   <form action = "http://localhost:8080/pins" method = "post">
      <table>
         <tr>
            <td>Pin:</td>
            <td>Mode:</td>
            <td>Value:</td>
         </tr>
         <tr>
            <td><input type = "number" name = "pin" value="1"/></td>
            <td><select name="mode" id="mode">
               <option value="Disabled">Disabled</option>
               <option value="Inactive" selected>Inactive</option>
               <option value="Output">Output</option>
               <option value="Input">Input</option>
            </select></td>
            <td><select name="value" id="value">
               <option value="-">-</option>
               <option value="On">On</option>
               <option value="Off">Off</option>
            </select></td>
         </tr>
         <tr>
            <td><input type = "submit" /></td>
         </tr>
      </table>
   </form>

   <p></p>

   <table>
      <tr>
         <th>Pin</th><th>Mode</th><th>Value</th>
      </tr>
      {% for key, value in pinData.items() %}
         <tr> 
            <td>{{ value.name }}</td>
            <td>{{ value.mode }}</td>
            <td>{{ value.value }}</td>
         </tr>
      {% endfor %}
   </table>
   
   <!--
   <address>
   Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br>
   Visit us at:<br>
   Example.com<br>
   Box 564, Disneyland<br>
   USA
   </address>
   -->
   </body>

</html>
