<!DOCTYPE html>
<html>
   <head>
      <title>Pins</title>
      <link rel="stylesheet" href="../static/style.css">
   </head>
   
   <body>
   <h1>Pins</h1>
   <button onclick="window.location.href='/';">
      Home
   </button>
   <button onclick="window.location.href='/pins';">
      Pins
   </button>
   

   <table>
      <tr>
         <th>Pin</th><th>Enabled</th><th>Mode</th><th>Value</th>
      </tr>
      {% for key, value in pinData.items() %}
         <tr> 
            <td>{{ value.name }}</td>
            <td>{{ value.enabled }}</td>
            {% if value.enabled == False %}
            <td><button disabled>{{ value.mode }}</button></td>
            {% elif value.mode == "-" %}
            <td><button onclick="window.location.href='/pins/{{value.name}}/out';">{{ value.mode }}</button></td>
            {% elif value.mode == "Output" %}
            <td><button onclick="window.location.href='/pins/{{value.name}}/in';">{{ value.mode }}</button></td>
            {% else %}
            <td><button onclick="window.location.href='/pins/{{value.name}}/clear';">{{ value.mode }}</button></td>
            {% endif %}
            {% if value.mode == "Output" %}
               {% if value.value == "Off" %}
               <td><button onclick="window.location.href='/pins/{{value.name}}/on';">{{ value.value }}</button></td>
               {% else %}
               <td><button onclick="window.location.href='/pins/{{value.name}}/off';">{{ value.value }}</button></td>
               {% endif %}
            {% else %}
            <td>{{ value.value }}</td>
            {% endif %}
         </tr>
      {% endfor %}
   </table>
   
   <!--
   <address>
   Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br>
   Visit us at:<br>
   Example.com<br>
   Box 564, Disneyland<br>
   USA
   </address>
   -->
   </body>

</html>
